[user]
	email = nandeeshgupta@gmail.com
	name = NandeeshG
	signingkey = E8E8A2A16A456A05
[core]
	editor = nvim
[credential]
	helper = store
[commit]
	gpgSign = true
[alias]
	adog = log --all --decorate --oneline --graph
